﻿@page "/auctions/add"
@using Online_Auction_System.Auth
@using OnlineAuctionSystem.Contracts.ExternalModels.Auctions
@inject NotificationService NotificationService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Online_Auction_System.Repositories.AuctionsRepository AuctionsRepository
@inject IJSRuntime JsRuntime
@*TODO: Extract this into sepatate component for both add and edit*@
<div class="row justify-content-center">
    <div class="col-20 col-md-10 col-lg-10 pb-5">

        <div class="card-header p-0 mb-3">
            <div class="bg-info text-white text-center py-2">
                <p class="m-0">@_headerMessage</p>
            </div>
        </div>
        @if (_isVisible)
        {
            <RadzenTemplateForm Data="@_model" TItem="NewAuctionExternalModel" Submit="@((NewAuctionExternalModel args) => { Submit(args); })">
                <RadzenFieldset Text="Auction Info">
                    <div class="row">
                        <div class="align-items-center d-flex col-md-3">
                            <RadzenLabel Text="Name" />
                        </div>
                        <div class="col-md-9">
                            <RadzenTextBox Disabled="false" style="width: 100%;" @bind-Value="_model.Name" Name="Name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="align-items-center d-flex col-md-3">
                            <RadzenLabel Text="Max goods on your auction" />
                        </div>
                        <div class="col-md-3">
                            <RadzenNumeric style="width: 100%; margin-bottom: 20px; margin-top: 20px;" Min="1" Name="MaxGoods" @bind-Value="_model.MaxGoods" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="align-items-center d-flex col-md-3">
                            <RadzenLabel Text="Minimum buyer reputation needed" />
                        </div>
                        <div class="col-md-3">
                            <RadzenNumeric style="width: 100%;" Min="0" Name="MinBuyerRep" @bind-Value="_model.MinBuyerReputation" />
                        </div>
                        <div class="align-items-center d-flex col-md-2">
                            <RadzenLabel Text="Minimum seller reputation needed" />
                        </div>
                        <div class="col-md-4">
                            <RadzenNumeric style="width: 100%;" Min="0" Name="MinSellerRep" @bind-Value="_model.MinSellerReputation" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="align-items-center d-flex col-md-3">
                            <RadzenLabel Text="Max participants" />
                        </div>
                        <div class="col-md-3">
                            <RadzenNumeric style="width: 100%;" Min="0" Name="MaxParticipants" @bind-Value="_model.MaxParticipants" />
                        </div>
                        <div class="align-items-center d-flex col-md-2">
                            <RadzenLabel Text="Bargain time (in seconds)" />
                        </div>
                        <div class="col-md-4">
                            <RadzenNumeric style="width: 100%;" AutoComplete="true" Min="5" Name="BargainTime" @bind-Value="_model.BargainTime" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="align-items-center d-flex col-md-3">
                            <RadzenLabel Text="Start Date" />
                        </div>
                        <div class="col-md-3">
                            <RadzenDatePicker TValue="DateTime" @bind-Value="_startTime" ShowTime="true" ShowSeconds="true" HoursStep="1" MinutesStep="5"
                                              SecondsStep="10" Change="@(args => ChangeStartTime(args))" DateFormat="MM/dd/yyyy HH:mm" />
                        </div>
                        <div class="align-items-center d-flex col-md-2">
                            <RadzenLabel Text="Allow Anonymous" />
                        </div>
                        <div class="col-md-4">
                            <RadzenCheckBox @bind-Value="@_model.AllowAnonymous" Style="margin-bottom: 20px" TValue="bool" />
                        </div>
                    </div>
                </RadzenFieldset>
                <div class="row justify-content-center">
                    <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel" />
                    </div>
                </div>
            </RadzenTemplateForm>
        }
    </div>
</div>

@code {
    private AuthenticationState _userState;
    private const string AnonymousMessage = "Sign in or sign up to add an auction.";
    private string _headerMessage;
    private bool _isVisible;
    private int _userId;
    //Kludge for "validation" Never do so
    private NewAuctionExternalModel _model = new NewAuctionExternalModel { BargainTime = 5 };
    private DateTime _startTime;

    protected override async Task OnInitializedAsync()
    {
        _userState = await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        if (!_userState.User.Identity.IsAuthenticated)
        {
            _headerMessage = AnonymousMessage;
            _isVisible = false;
            return;
        }

        var userClaim = _userState.User.Claims?.FirstOrDefault(claim => claim.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        if (userClaim == null || !int.TryParse(userClaim, out _userId))
        {
            _headerMessage = AnonymousMessage;
            _isVisible = false;
            return;
        }
        _isVisible = true;
        _startTime = DateTime.Now.AddHours(1);
        _headerMessage = "Insert your auction parameters.";
    }

    void ChangeStartTime(DateTime? value)
    {
        if (value.Value < DateTime.Now)
        {
            _startTime = _model.StartTime;
        }
        else
        {
            _model.StartTime = _startTime;
        }
        StateHasChanged();
    }

    async Task Submit(NewAuctionExternalModel model)
    {
        model.HolderId = _userId;
        var errorMessage = await AuctionsRepository.TryAddAuctionAsync(model);
        if (!string.IsNullOrEmpty(errorMessage))
        {
            NotificationService.Notify(new NotificationMessage{Detail = errorMessage, Duration = 4000, Severity = NotificationSeverity.Error, Summary = "Error occured!"});
            await InvokeAsync(StateHasChanged);
        }
        else
        {
            NotificationService.Notify(new NotificationMessage{Detail = "Auction successfully added.", Duration = 4000, Severity = NotificationSeverity.Success, Summary = "Success!"});
            await JsRuntime.InvokeAsync<object>("close");
        }
    }

    void Cancel()
    {
        JsRuntime.InvokeAsync<object>("close");
    }
}
