﻿@page "/auctions"
@using Online_Auction_System.Models
@using Online_Auction_System.Auth
@using OnlineAuctionSystem.Contracts.Enums;
@inject NotificationService NotificationService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Online_Auction_System.Repositories.AuctionsRepository AuctionsRepository
@inject IJSRuntime JsRuntime

<div class="alert-info">
    <div style="float: right;">
        <button type="submit" class="btn btn-primary @(_isVisible ? "visible" : "invisible")" @onclick="AddNewAuction">Add new auction</button>
    </div>
    <div style="display: flex; justify-content: center; font-size: 15px">@_headerMessage</div>
</div>

@if (_isVisible)
{
    <table class="table aucitons-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Holding time</th>
                <th>Min buyer reputation</th>
                <th>Min seller reputation</th>
                <th>Max goods</th>
                <th>Bargain time</th>
                <th>Max participants</th>
                <th>Allow anon</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auction in _auctions)
            {
                var auctionState = GetAuctionState(auction);
                switch (auctionState)
                {
                    case AuctionStates.Finished:
                        _rowColor = "#BC8F8F";
                        break;
                    case AuctionStates.StartingSoon:
                        _rowColor = "#DAA520";
                        break;
                    case AuctionStates.Holding:
                        _rowColor = "#CD853F";
                        break;
                    case AuctionStates.Waiting:
                        _rowColor = "#F4A460";
                        break;
                }
                <tr style="background: @_rowColor">
                    <td><strong><a style="text-decoration: none; color: inherit" href="/auctions/@auction.Id/goods">@auction.Name</a></strong></td>
                    <td>@FormatHoldingData(auction.StartTime, auction.EndTime)</td>
                    <td>@auction.MinBuyerReputation</td>
                    <td>@auction.MinSellerReputation</td>
                    <td>@auction.MaxGoods</td>
                    <td>@auction.BargainTime</td>
                    <td>@auction.MaxParticipants</td>
                    <td> <i class="@(auction.AllowAnonymous ? "far fa-check-square" : "far fa-square")"></i></td>
                    @if (auctionState == AuctionStates.Waiting)
                    {
                        <td><i class="far fa-edit" title="Click to edit." @onclick="(e =>EditAuction(auction.Id))"></i></td>
                    }
                    else
                    {
                        <td><i class="fas fa-ban" title="Sorry, but it's too late to edit this auction."></i></td>
                    }
                    <td><i class="far fa-times-circle" @onclick="(e =>DeleteAuction(auction.Id))" title="Click to delete."></i></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<AuctionModel> _auctions = new List<AuctionModel>();
    private AuthenticationState _userState;
    private int _userId;
    private string _headerMessage;
    private bool _isVisible;
    private string _rowColor;
    private DateTime _currentTime = DateTime.Now;
    private const string AnonymousMessage = "Here will be your auctions after u sign in or sign up";

    protected override async Task OnInitializedAsync()
    {
        _userState = await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        if (!_userState.User.Identity.IsAuthenticated)
        {
            _headerMessage = AnonymousMessage;
            _isVisible = false;
            return;
        }

        var userClaim = _userState.User.Claims?.FirstOrDefault(claim => claim.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        if (userClaim == null || !int.TryParse(userClaim, out _userId))
        {
            _headerMessage = AnonymousMessage;
            _isVisible = false;
            return;
        }

        _auctions = await AuctionsRepository.GetAllUserAuctionsAsync(_userId);
        _isVisible = true;
        _headerMessage = _auctions.Count > 0 ? "Your own auctions are listed below" : "You still have no auctions. Let's create one right now.";
    }

    private string FormatHoldingData(DateTime startTime, DateTime? endTime)
    {
        var result = new System.Text.StringBuilder();
        result.Append(startTime.ToString());
        if (endTime == null)
        {
            return result.ToString();
        }
        result.Append($" - {endTime.ToString()}");
        return result.ToString();
    }

    private AuctionStates GetAuctionState(AuctionModel auction)
    {
        if (auction.StartTime > _currentTime.AddMinutes(30))
        {
            return AuctionStates.Waiting;
        }

        if (auction.StartTime > _currentTime)
        {
            return AuctionStates.StartingSoon;
        }

        if (!auction.EndTime.HasValue)
        {
            return AuctionStates.Holding;
        }

        return AuctionStates.Finished;
    }

    private async Task DeleteAuction(Guid auctionId)
    {
        var result = await AuctionsRepository.DeleteAuctionAsync(_userId, auctionId);
        if (result)
        {
            _auctions.RemoveAll(auction => auction.Id == auctionId);
            StateHasChanged();
        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Detail = "Try later please :C", Duration = 4000, Severity = NotificationSeverity.Error, Summary = "Error occured!" });
        }
    }

    private async Task AddNewAuction()
    {
        if (_userId != 0)
        {
            await JsRuntime.InvokeAsync<object>("open", "auctions/add", "_blank");
        }
    }

    private async Task EditAuction(Guid auctionId)
    {
        if (_userId != 0)
        {
            await JsRuntime.InvokeAsync<object>("open", $"auctions/{auctionId}/edit", "_blank");
        }
    }
}