﻿@page "/auctions/{AuctionId:guid}/goods"
@using Online_Auction_System.Models
@using Online_Auction_System.Auth
@inject NotificationService NotificationService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Repositories.GoodsRepository GoodsRepository
@inject IJSRuntime JsRuntime

<div class="alert-info">

    <div style="display: flex; justify-content: center; font-size: 15px">@_headerMessage</div>
</div>

@if (_isVisible)
{
    <RadzenDataList PageSize="6" WrapItems="true" AllowPaging="true" Data="@_goods" TItem="GoodModel">
        <Template Context="good">
            <RadzenCard Style="width:400px;">
                <div class="row">
                    <div class="col-md-6">
                        <div>Description:</div>
                        <b><RadzenTextArea Style="margin-bottom: 20px" Disabled="true" Cols="25" Rows="3" @bind-Value="@good.Description" /></b>
                        <div style="margin-top:20px">Good:</div>
                        <b>@good.Name</b>
                        <br />
                        <RadzenImage Path="@good.Picture" Style="width:100px;" />
                    </div>
                    <div class="col-md-6">
                        <div>
                            Price:
                            <i class="far fa-times-circle" title="Click to remove from auction." style="float: right;" @onclick="(e =>RemoveGood(good.GoodId))"></i>
                        </div>
                        <b>@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", good.Price)</b>
                        <div style="margin-top:20px">
                            Current owner info:
                        </div>
                        <b>@good.CurrentOwner</b>
                        <div style="margin-top:20px">Previous owner info:</div>
                        <b>@(good.PreviousOwnerId.HasValue ? good.PreviousOwner : "Current owner is the first owner.")</b>
                        <div style="margin-top:20px">Listed on an auction:</div>
                        @if (good.AuctionId.HasValue)
                        {
                            <b><a href="#" title="Click to go to this auction.">@(good.AuctionName)</a></b>
                        }
                        else
                        {
                            <b>This good is not staged on any auction.</b>
                        }
                    </div>
                </div>

            </RadzenCard>
        </Template>
    </RadzenDataList>

}

@code {

    [Parameter]
    public Guid AuctionId { get; set; }
    private List<GoodModel> _goods = new List<GoodModel>();
    private AuthenticationState _userState;
    private int _userId;
    private string _headerMessage;
    private bool _isVisible;
    private const string AnonymousMessage = "Here will be goods, listed on your auction after u sign in or sign up";

    protected override async Task OnInitializedAsync()
    {
        _userState = await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        if (!_userState.User.Identity.IsAuthenticated)
        {
            _headerMessage = AnonymousMessage;
            _isVisible = false;
            return;
        }

        var userClaim = _userState.User.Claims?.FirstOrDefault(claim => claim.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        if (userClaim == null || !int.TryParse(userClaim, out _userId))
        {
            _headerMessage = AnonymousMessage;
            _isVisible = false;
            return;
        }

        _goods = await GoodsRepository.GetGoodsByAuctionAsync(_userId, AuctionId);
        _isVisible = true;
        _headerMessage = _goods.Count > 0 ? "Goods posted on your auction are listed below" : "You have no goods on your auction.";
    }

    private async Task RemoveGood(Guid goodId)
    {
        var result = await GoodsRepository.RemoveGoodFromAuction(_userId, goodId);
        if (result)
        {
            _goods.RemoveAll(good => good.GoodId == goodId);
            StateHasChanged();
        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Detail = "Try later please :C", Duration = 4000, Severity = NotificationSeverity.Error, Summary = "Error occured!" });
        }
    }
}