﻿@inherits LayoutComponentBase
@using Online_Auction_System.Auth
@inject NotificationService NotificationService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Repositories.NotificationsRepository NotificationsRepository
@implements IDisposable

<RadzenNotification />
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">online auction system</a>
            </div>
            <AuthorizeView>
                <Authorized>
                    <UserInfo />
                </Authorized>
                <NotAuthorized>
                    <div class="sidebar-unathorized">
                        <span>
                            To get all privileges, <a href="/register"><strong>register</strong></a> or <a href="/login"><strong>login</strong></a> please
                        </span>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li>
                        <a href="/profile">
                            <i class="fas fa-address-card"></i>
                            <span>My profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="/auctions">
                            <i class="fas fa-gavel"></i>
                            <span>My auctions</span>
                            @*<span class="badge badge-pill badge-danger">3</span>*@
                        </a>
                    </li>
                    <li>
                        <a href="/goods">
                            <i class="fas fa-gifts"></i>
                            <span>My goods</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-chart-line"></i>
                            <span>Charts</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-globe"></i>
                            <span>Maps</span>
                        </a>
                    </li>
                    <li class="header-menu">
                        <span>Extra</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-book"></i>
                            <span>Documentation</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-calendar"></i>
                            <span>Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-folder"></i>
                            <span>Examples</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">
                <i class="fas fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
                <i class="fas fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
                <i class="fas fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a href="#">
                <i class="fas fa-power-off"></i>
            </a>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        @Body
    </main>
    <!-- page-content" -->
</div>

@code
{
    private AuthenticationState _userState;
    private int _userId;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _userState = await((CustomAuthenticationStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
            var userClaim = _userState.User.Claims?.FirstOrDefault(claim => claim.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
            if (userClaim == null || !int.TryParse(userClaim, out _userId))
            {
                return;
            }
            NotificationsRepository.RaiseNotificationAction += ShowNotification;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    private async Task ShowNotification(NotificationMessage message, int auctionHolderId)
    {
        if (auctionHolderId == _userId)
        {
            NotificationService.Notify(message);
            await InvokeAsync(StateHasChanged);
        }
    }

    public void Dispose()
    {
        NotificationsRepository.RaiseNotificationAction -= ShowNotification;
    }
}