﻿@using System.Security.Claims
<div class="sidebar-header">
    <div class="user-pic">
        <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
             alt="User picture">
    </div>
    <div class="user-info">
        <span class="user-name">
            @_userFirstName
            <strong>@_userSecondName</strong>
        </span>
        <span class="user-role">@_userNickName</span>
        <span class="user-status">
            <i class="fas fa-circle"></i>
            <span>Online</span>
        </span>
    </div>
</div>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    ClaimsPrincipal _user;
    string _userFirstName;
    string _userSecondName;
    string _userNickName;

    protected override async Task OnInitializedAsync()
    {
        _user = (await AuthenticationStateTask).User;
        foreach (var claim in _user.Claims)
        {
            if (claim.Type == ClaimTypes.Name)
            {
                _userFirstName = claim.Value;
                continue;
            }
            if (claim.Type == ClaimTypes.Surname)
            {
                _userSecondName = claim.Value;
                continue;
            }
            if (claim.Type == ClaimTypes.GivenName)
            {
                _userNickName = claim.Value;
                continue;
            }
        }
    }
}