﻿@page "/"
@namespace Online_Auction_System.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Online Auction System</title>
    <base href="~/"/>
    <script src="https://kit.fontawesome.com/911779c623.js" crossorigin="anonymous"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
</head>
<body>
<app>
    <component type="typeof(App)" render-mode="Server"/>
</app>

<script src="_framework/blazor.server.js"></script>
</body>
</html>