﻿@page "/login"
@using Online_Auction_System.Models
@implements IDisposable
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Online_Auction_System.Auth
@inject Online_Auction_System.Repositories.LoginRepository LoginRepository

<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8 pb-5">

        <div class="card-header p-0 mb-3">
            <div class="bg-info text-white text-center py-2">
                <p class="m-0">Please enter your login information to register.</p>
            </div>
        </div>

        <div class="alert-danger @_visibility mb-3">Ooops... Wrong email or password. Try again please</div>

        <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <div class="input-group mb-2">
                    <span>Your nick name on site: </span>
                    <div class="input-group-prepend ml-3">
                        <div class="input-group-text"><i class="fas fa-id-card text-info"></i></div>
                    </div>
                    <InputText id="nickname" placeholder="Your awesome nickname" @bind-Value="_model.NickName" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-2">
                    <span>Your password: </span>
                    <div class="input-group-prepend ml-3">
                        <div class="input-group-text"><i class="fas fa-key text-info"></i></div>
                    </div>
                    <InputText id="password" type="password" placeholder="Your password" @bind-Value="_model.Password" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary" disabled="@_formInvalid">Submit</button>
        </EditForm>
    </div>
</div>

@code {
    private LoginModel _model = new LoginModel();
    private bool _formInvalid = true;
    private EditContext _editContext;
    private string _visibility = "invisible";

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_model);
        _editContext.OnFieldChanged += HandleFieldChanged;
    }

    private void HandleFieldChanged(object sender, FieldChangedEventArgs e)
    {
        _formInvalid = !_editContext.Validate();
        StateHasChanged();
    }

    public void Dispose()
    {
        _editContext.OnFieldChanged -= HandleFieldChanged;
    }

    public async Task HandleValidSubmit()
    {
        var authorizedUser = await LoginRepository.TryLogin(_model);
        if (authorizedUser == null)
        {
            _visibility = "visible";
            StateHasChanged();
            return;
        }
        await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).AuthenticateUser(authorizedUser);
        NavigationManager.NavigateTo("/");
    }
}