﻿@page "/profile"
@using Online_Auction_System.Models
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Online_Auction_System.Auth
@using System.Text
@inject Repositories.UsersRepository UsersRepository

<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8 pb-5">

        <div class="card-header p-0 mb-3">
            <div class="bg-info text-white text-center py-2">
                <p class="m-0">@_headerMessage</p>
            </div>
        </div>
        
        @if (_isVisible)
        {
            <RadzenCard Style="width:665px;">
                <div class="row">
                    <div class="col-md-6">
                        <div style="margin-top:20px">Full Name:</div>
                        <b>@GetFullName()</b>
                        <div style="margin-top:20px">Nickname:</div>
                        <b>@_model.NickName</b>
                        <div style="margin-top:20px">Delivery Address:</div>
                        <b><RadzenTextArea Style="margin-bottom: 20px" Disabled="true" Cols="35" Rows="5" @bind-Value="@_model.Address" /></b>
                    </div>
                    <div class="col-md-6">
                        <div>
                            Balance:
                        </div>
                        <b>@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", _model.Balance)</b>
                        <div style="margin-top:20px">
                            Creation Date:
                        </div>
                        <b>@_model.CreationDate</b>
                        <div style="margin-top:20px">Mobile phone:</div>
                        <b>@_model.MobilePhone</b>
                        <div style="margin-top:20px">Email:</div>
                        <b>@_model.Email</b>
                        <div style="margin-top:20px">Buyer Reputation:</div>
                        <b>@_model.BuyerReputation</b>
                        <div style="margin-top:20px">Seller Reputation:</div>
                        <b>@_model.SellerReputation</b>
                    </div>
                </div>

            </RadzenCard>
        }
        
    </div>
</div>

@code {
    private AuthenticationState _userState;
    private int _userId;
    private const string AnonymousMessage = "Oops... Seems like you are logged out. Sign in or sign up to manage your profile.";
    private string _headerMessage;
    private bool _isVisible;
    private UserProfileModel _model = new UserProfileModel();

    protected override async Task OnInitializedAsync()
    {
        _userState = await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).GetAuthenticationStateAsync();
        if (!_userState.User.Identity.IsAuthenticated)
        {
            _headerMessage = AnonymousMessage;
            _isVisible = false;
            return;
        }

        var userClaim = _userState.User.Claims?.FirstOrDefault(claim => claim.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        if (userClaim == null || !int.TryParse(userClaim, out _userId))
        {
            _headerMessage = AnonymousMessage;
            _isVisible = false;
            return;
        }

        _model = await UsersRepository.GetUserAsync(_userId);
        _isVisible = true;
        _headerMessage = "Here is your profile information. Feel free to change your personal data whenever you want.";
    }

    private string GetFullName()
    {
        var str = new StringBuilder($"{_model.SecondName} {_model.FirstName}");
        if (_model.Patronymic != null)
        {
            str.Append($" {_model.Patronymic}");
        }
        return str.ToString();
    }
}