﻿@page "/register"
@using Online_Auction_System.Models
@implements IDisposable
@inject NavigationManager NavigationManager
@inject Online_Auction_System.Repositories.RegistrationRepository RegistrationRepository


<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8 pb-5">

        <div class="card-header p-0 mb-3">
            <div class="bg-info text-white text-center py-2">
                <p class="m-0">Please enter your contact information to register.</p>
            </div>
        </div>

        <div class="alert-danger @_visibility mb-3">@_statusMessage</div>

        <EditForm EditContext="@_editContext" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <div class="input-group mb-2">
                    <span>Your first name: </span>
                    <div class="input-group-prepend ml-3">
                        <div class="input-group-text"><i class="fas fa-user text-info"></i></div>
                    </div>
                    <InputText id="first_name" placeholder="Jeffrey" @bind-Value="_model.FirstName" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-2">
                    <span>Your second name: </span>
                    <div class="input-group-prepend ml-3">
                        <div class="input-group-text"><i class="fas fa-user text-info"></i></div>
                    </div>
                    <InputText id="second_name" placeholder="Richter" @bind-Value="_model.SecondName" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-2">
                    <span>Your patronymic: </span>
                    <div class="input-group-prepend ml-3">
                        <div class="input-group-text"><i class="fas fa-user text-info"></i></div>
                    </div>
                    <InputText id="patronymic" placeholder="Optional" @bind-Value="_model.Patronymic" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-2">
                    <span>Your delievery address: </span>
                    <div class="input-group-prepend ml-3">
                        <div class="input-group-text"><i class="fas fa-globe text-info"></i></div>
                    </div>
                    <InputTextArea id="delivery_address" placeholder="Your address" @bind-Value="_model.DeliveryAddress" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-2">
                    <span>Your nick name on site: </span>
                    <div class="input-group-prepend ml-3">
                        <div class="input-group-text"><i class="fas fa-id-card text-info"></i></div>
                    </div>
                    <InputText id="nickname" placeholder="Your awesome nickname" @bind-Value="_model.NickName" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-2">
                    <span>Your mobile phone: </span>
                    <div class="input-group-prepend ml-3">
                        <div class="input-group-text"><i class="fas fa-mobile-alt text-info"></i></div>
                    </div>
                    <InputText id="mobile_phone" placeholder="Your number" @bind-Value="_model.MobilePhone" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-2">
                    <span>Your email: </span>
                    <div class="input-group-prepend ml-3">
                        <div class="input-group-text"><i class="fas fa-envelope text-info"></i></div>
                    </div>
                    <InputText id="email" placeholder="samplemail@gmail.com" @bind-Value="_model.Email" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-2">
                    <span>Your password: </span>
                    <div class="input-group-prepend ml-3">
                        <div class="input-group-text"><i class="fas fa-unlock-alt text-info"></i></div>
                    </div>
                    <InputText id="password" type="password" placeholder="Your pass.. shhh" @bind-Value="_model.Password" />
                </div>
            </div>
            
            <div class="form-group">
                <div class="input-group mb-2">
                    <span>Confirm your password: </span>
                    <div class="input-group-prepend ml-3">
                        <div class="input-group-text"><i class="fas fa-lock text-info"></i></div>
                    </div>
                    <InputText id="confirm_password" type="password" placeholder="Your pass.. shhh" @bind-Value="_model.ConfirmPassword" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary" disabled="@_formInvalid">Submit</button>
        </EditForm>
    </div>
</div>

@code {
    private RegistrationModel _model = new RegistrationModel();
    private bool _formInvalid = true;
    private EditContext _editContext;
    private string _statusMessage;
    private string _visibility = "invisible";

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_model);
        _editContext.OnFieldChanged += HandleFieldChanged;
    }

    private void HandleFieldChanged(object sender, FieldChangedEventArgs e)
    {
        _formInvalid = !_editContext.Validate();
        StateHasChanged();
    }

    public void Dispose()
    {
        _editContext.OnFieldChanged -= HandleFieldChanged;
    }

    public async void HandleValidSubmit()
    {
        if (!RegistrationRepository.IsNicknameUnique(_model.NickName))
        {
            _visibility = "visible";
            _statusMessage = "User name is already taken. Please try another one.";
            StateHasChanged();
            return;
        }
        var isRegistered = await RegistrationRepository.TryRegisterUser(_model);
        if (!isRegistered)
        {
            _visibility = "visible";
            _statusMessage = "Error occured while registrating. Please try back later.";
            StateHasChanged();
            return;
        }
        NavigationManager.NavigateTo("/login");
        return;
    }
}