﻿@page "/goods/add"
@using Online_Auction_System.Auth
@using OnlineAuctionSystem.Contracts.ExternalModels.Goods
@inject NotificationService NotificationService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Repositories.GoodsRepository GoodsRepository
@inject Repositories.AuctionsRepository AuctionsRepository
@inject IJSRuntime JsRuntime
@*TODO: Extract this into separate component for both add and edit*@
<div class="row justify-content-center">
    <div class="col-20 col-md-10 col-lg-10 pb-5">

        <div class="card-header p-0 mb-3">
            <div class="bg-info text-white text-center py-2">
                <p class="m-0">@_headerMessage</p>
            </div>
        </div>
        @if (_isVisible)
        {
            <RadzenTemplateForm Data="@_model" TItem="GoodExternalModel" Submit="@((GoodExternalModel args) => { Submit(args); })">
                <RadzenFieldset Text="Good Info">
                    <div class="row">
                        <div class="align-items-center d-flex col-md-3">
                            <RadzenLabel Text="Name" />
                        </div>
                        <div class="col-md-9">
                            <RadzenTextBox Disabled="false" style="width: 100%;" @bind-Value="_model.Name" Name="Name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="align-items-center d-flex col-md-3">
                            <RadzenLabel Text="Description" />
                        </div>
                        <div class="col-md-3">
                            <RadzenTextArea Style="margin-bottom: 20px; margin-top: 20px;" Cols="85" Rows="3" @bind-Value="_model.Description" Name="Description" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="align-items-center d-flex col-md-3">
                            <RadzenLabel Text="Price" />
                        </div>
                        <div class="col-md-3">
                            <RadzenNumeric style="width: 100%;" TValue="decimal" Min="0" Name="Price" @bind-Value="_model.Price" />
                        </div>
                        <div class="align-items-center d-flex col-md-2">
                            <RadzenLabel Text="Picture" />
                        </div>
                        <div class="col-md-4">
                            <RadzenFileInput @bind-Value="_model.Picture" Style="width:150px;" TValue="string" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="align-items-center d-flex col-md-3">
                            <RadzenLabel Text="Post on auction" />
                        </div>
                        <div class="col-md-3">
                            <RadzenDropDown AllowClear="true" TValue="Guid?"
                                            Data="@(_userAuctions.Select(auction => new {auction.Id, auction.Name}))"
                                            TextProperty="Name" ValueProperty="Id" Style="margin-bottom: 20px; width:150px;" Change="@ChangeDropDown" />
                        </div>
                    </div>
                </RadzenFieldset>
                <div class="row justify-content-center">
                    <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel" />
                    </div>
                </div>
            </RadzenTemplateForm>
        }
    </div>
</div>

@code {
    private AuthenticationState _userState;
    private const string AnonymousMessage = "Sign in or sign up to add a good.";
    private string _headerMessage;
    private bool _isVisible;
    private int _userId;
    private List<Models.AuctionModel> _userAuctions;
    private readonly GoodExternalModel _model = new GoodExternalModel { };

    protected override async Task OnInitializedAsync()
    {
        _userState = await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();
        if (!_userState.User.Identity.IsAuthenticated)
        {
            _headerMessage = AnonymousMessage;
            _isVisible = false;
            return;
        }

        var userClaim = _userState.User.Claims?.FirstOrDefault(claim => claim.Type == System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        if (userClaim == null || !int.TryParse(userClaim, out _userId))
        {
            _headerMessage = AnonymousMessage;
            _isVisible = false;
            return;
        }

        _userAuctions = await AuctionsRepository.GetAllUserAuctionsAsync(_userId);

        _isVisible = true;
        _headerMessage = "Insert your good parameters.";
    }

    private async Task Submit(GoodExternalModel model)
    {
        model.CurrentOwnerId = _userId;
        var errorMessage = await GoodsRepository.TryAddGoodAsync(model);
        if (!string.IsNullOrEmpty(errorMessage))
        {
            NotificationService.Notify(new NotificationMessage { Detail = errorMessage, Duration = 4000, Severity = NotificationSeverity.Error, Summary = "Error occured!" });

        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Detail = "Good successfully added.", Duration = 4000, Severity = NotificationSeverity.Success, Summary = "Success!" });
            await JsRuntime.InvokeAsync<object>("close");
        }
    }

    private void Cancel()
    {
        JsRuntime.InvokeAsync<object>("close");
    }

    private void ChangeDropDown(object obj)
    {
        if (obj is Guid auctionId)
        {
            _model.AuctionId = auctionId;
        }
        StateHasChanged();
    }
}
